<h2>Revisiones / visitas 1</h2>

<form action="" method="post">

    <div class="border-solid"></div>

    <div class="row">
        <div class="col-sm-6">
            <label for="">Hora*</label>
            <input type="time" name="" id="">
        </div>

        <!-- <div class="col-12">

            <label for="">supervisión*</label>
            <select name="" id="">
                <option value="">Seleccionar supervisor</option>
                <option value="">2</option>
                <option value="">3</option>
            </select>
        </div> -->


        <div class="col-12">
            Detalle de la visita
        </div>
        <div class="border-solid"></div>

        <div class="col-sm-6">
            <label for="">Sector*</label>
            <select name="" id="">
                <option value="">Parcelaciones</option>
                <option value="">2</option>
                <option value="">3</option>
            </select>
        </div>
        <div class="col-sm-6">
            <label for="">Objeto de la visita*</label>
            <select name="" id="">
                <option value="">Supervisar</option>
                <option value="">2</option>
                <option value="">3</option>
            </select>
        </div>

        <div class="col-12">
            Anexos
        </div>
        <div class="border-solid"></div>

        <div class="col-12">
            <label for="">Objetivo general*</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="col-12">
            Anexos
        </div>
        <div class="border-solid"></div>

        <div class="col-12">
            <label for="">Actividad 1*</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>

        <div class="col-12 my-3">


            <input type="time" name="" id="">



        </div>
        <div class="col-12 my-3">





            <button type="submit"> Terminar </button>
        </div>



    </div>






</form>
<h2>Revisiones / visitas 2</h2>


<form action="" method="post">

    <div class="border-solid"></div>

    <div class="row">
        <div class="col-sm-6">
            <label for="">Hora*</label>
            <input type="time" name="" id="">
        </div>
        <div class="col-sm-6">
            <label for="">Elaboró*</label>

            <select name="" id="">
                <option value="">NPI</option>
            </select>
        </div>

        <!-- 
        <div class="col-12">

            <label for="">supervisión*</label>
            <select name="" id="">
                <option value="">Seleccionar supervisor</option>
                <option value="">2</option>
                <option value="">3</option>
            </select>
        </div> -->

        <div class="col-sm-6">
            <label for="">Sector</label>
            <select name="" id="">
                <option value="">Parcelacion</option>
                <option value="">2</option>
                <option value="">3</option>
            </select>
        </div>

        <div class="border-solid"></div>



        <div class="col-12">
            <label for="">Dirigido a*</label>
            <input type="text">
        </div>


        <div class="col-12">
            <h2>Comunicado</h2>
        </div>
        <div class="border-solid"></div>


        <div class="col-12">
            <label for="">Asunto</label>
            <input type="text" name="" id="">
        </div>
        <div class="col-12">
            <label for="">Contenido</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>


        <div class="col-12">
            <label for="">Objetivo general*</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="col-12">
            Fotos y observaciones
        </div>
        <div class="border-solid"></div>

        <div class="col-sm-6">
            <label for="">observacion 1*</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="col-sm-6">
            <label for="">foto 1*</label>
            <div class="flexto">

                <div class="contenedor-foto">

                    <label for="imagen">
                        <img class="imagen-foto" src="assets/image/dashboard/Background.png" alt="">
                    </label>
                    <input class="inputfile" type="file" id="imagen" name="imagen" multiple>
                </div>
                <div class="contenedor-foto">

                    <label for="imagen2">
                        <img class="imagen-foto" src="assets/image/dashboard/Background.png" alt="">
                    </label>
                    <input class="inputfile" type="file" id="imagen2" name="imagen2" multiple>
                </div>




            </div>
        </div>
        <div class="col-sm-6">
            <label for="">observacion 2*</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="col-sm-6">
            <label for="">foto 2*</label>
            <div class="flexto">

                <div class="contenedor-foto">
                    <img class="imagen-foto" src="assets/image/dashboard/Background.png" alt="">

                </div>
                <div class="contenedor-foto">
                    <img class="imagen-foto" src="assets/image/dashboard/Background.png" alt="">

                </div>
                <div class="contenedor-foto">
                    <img class="imagen-foto" src="assets/image/dashboard/Background.png" alt="">

                </div>

                <div class="contenedor-foto">
                    <img class="imagen-foto" src="assets/image/dashboard/Background.png" alt="">

                </div>
                <div class="contenedor-foto">
                    <img class="imagen-foto" src="assets/image/dashboard/Background.png" alt="">

                </div>
            </div>
        </div>



        <div class="col-12">
            <button type="submit"> Terminar </button>
        </div>

    </div>






</form>