#copropiedades {
    margin: 16px;
    .containeritemcopropiedades {
        .itemcopropiedades {
            height: 144px;
            width: 259px;
            background: #FFFFFF;
            border: 1px solid #EFEFEF;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 14px;
            margin-bottom: 16px;
            padding: 16px;
        }
    }
}