@import 'src/variables.scss';
footer {
    border: 1px solid #EEF5F9;
    position: absolute;
    width: 100%;
    bottom: 0;
    p {
        color: $footer;
        text-align: center;
        font-size: 12px;
        margin: 0;
        padding: 7px;
    }
}