<div class="modal content-login " id="modalLogin" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button aria-label="Close" class="close" data-dismiss="modal" type="button"> <span aria-hidden="true"> ×</span> </button>
            <div class="modal-header">
                <h5 class="modal-title">Iniciar sesión</h5>
            </div>
            <div class="modal-body">
                <h5>Inicia sesión para acceder a toda la información de tu co-propiedad</h5>
                <form class="row" [formGroup]="form">
                    <div class="col-12">
                        <div class="group-input">
                            <label for="">Usuario o correo electrónico</label>
                            <div>
                                <input type="text" placeholder="eduardo123@correo.com" formControlName="email" (keyup)="cambiarValidarMensaje()">
                            </div>
                            <ng-container *ngIf="form.controls.email.errors && !validarMensaje">
                                <label for="" *ngIf="form.controls.email.errors.required">El email está vacio</label>
                                <label for="" *ngIf="form.controls.email.errors.email">El email no es valido</label>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="group-input">
                            <label for="">Contraseña</label>
                            <div>
                                <input [type]="!ojo ? 'password' : 'text'" formControlName="password" (keyup)="cambiarValidarMensaje()">
                                <i (click)="ojo = !ojo" [class]="!ojo ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
                            </div>
                            <ng-container *ngIf="form.controls.password.errors && !validarMensaje">
                                <label for="" *ngIf="form.controls.password.errors.required">El email está vacio</label>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="content-btn">
                            <button class="btn" (click)="login($event)">Iniciar como propietario</button>
                            <button class="btn" (click)="loginPropiedad($event)">Iniciar como propiedad</button>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="content-registro">
                            <label for="">¿Aún no eres miembro? <a (click)="abrirModal()" data-dismiss="modal">Crea una cuenta.</a></label>
                            <label for="">¿Aún no tienes un conjunto? <a (click)="services.url('/registro-propiedad')" data-dismiss="modal">Regístrate aquí.</a></label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal content-login" id="ModalRegistro" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button aria-label="Close" class="close" data-dismiss="modal" type="button"> <span
                    aria-hidden="true"> × </span> </button>
            <div class="modal-header">
                <h5 class="modal-title">Creación de cuenta</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form [formGroup]="formRegistro" (submit)="registrar($event)" class="col-12 content-input">
                        <div class="group-input">
                            <div>
                                <input type="text" formControlName="nombre" class="form-control email" placeholder="Tu nombre" name="" id="">
                            </div>
                            <ng-container *ngIf="formRegistro.controls.nombre.errors && !validarMensajeRegistro">
                                <label for="" *ngIf="formRegistro.controls.nombre.errors.required">El nombre está
                                    vacio</label>
                            </ng-container>
                        </div>
                        <!-- <input type="date" formControlName="fecha" class="form-control email" placeholder="Tu fecha de nacimiento" name="" id="">
                        <ng-container *ngIf="formRegistro.controls.fecha.errors && !validarMensajeRegistro">
                            <label for="" *ngIf="formRegistro.controls.fecha.errors.required">La fecha está
                                vacio</label>
                            <label for="" *ngIf="formRegistro.controls.fecha.errors.fecha">Solo se pueden registrar
                                mayores de 18 años</label>
                        </ng-container> -->
                        <div class="group-input">
                            <div>
                                <input type="text" formControlName="email" class="form-control email" placeholder="Tu email" name="" id="">
                            </div>
                            <ng-container *ngIf="formRegistro.controls.email.errors && !validarMensajeRegistro">
                                <label for="" *ngIf="formRegistro.controls.email.errors.required">El email está
                                    vacio</label>
                                <label for="" *ngIf="formRegistro.controls.email.errors.email">El email no es
                                    valido</label>
                            </ng-container>
                        </div>
                        <div class="group-input">
                            <div>
                                <input type="password" formControlName="password" class="form-control password" placeholder="Contraseña" name="" id="">
                            </div>
                            <ng-container *ngIf="formRegistro.controls.password.errors && !validarMensajeRegistro">
                                <label for="" *ngIf="formRegistro.controls.password.errors.required">El email está
                                    vacio</label>
                            </ng-container>
                        </div>
                        <div class="group-input">
                            <div>
                                <input type="password" formControlName="confirmar_password" class="form-control password" placeholder="Contraseña" name="" id="">
                            </div>
                            <ng-container *ngIf="formRegistro.controls.confirmar_password.errors && !validarMensajeRegistro">
                                <label for="" *ngIf="formRegistro.controls.confirmar_password.errors.required">El email está
                                    vacio</label>
                            </ng-container>
                        </div>
                        <div class="group-input">
                            <div>
                                <input type="number" formControlName="telefono" class="form-control password" placeholder="Telefono" name="" id="">
                            </div>
                            <ng-container *ngIf="formRegistro.controls.telefono.errors && !validarMensajeRegistro">
                                <label for="" *ngIf="formRegistro.controls.telefono.errors.required">El telefono está vacio</label>
                            </ng-container>
                        </div>
                        <div class="content-btn">
                            <button class="btn">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>