<div class="row">
    <div class="col-12">
        <h2>Pagos</h2>
        <select *ngIf="arrayTorre.length > 0" [(ngModel)]="selectTorre" (change)="cambiarTorre()">
            <option *ngFor="let item of arrayTorre" [value]="item.id">{{ item.nombre }}</option>
        </select>
    </div>
    <div class="col-12">
        <div class="contenedor-botones">
            <button (click)="ingresarValor()">Agregar Valor</button>
        </div>
    </div>
    <div class="col-12 contenedor-tabla">

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Propietario</th>
                    <th>Número</th>
                    <!-- <th>Fecha</th> -->
                    <th>Contacto via whatsapp</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of arrayPropietarios">
                    <td>{{ item.nombre }}</td>
                    <td>{{ services.validarText(item.nombre_user) ? item.nombre_user : '-' }}</td>
                    <td style="cursor: pointer;" (click)="services.validarText(item.telefono_user) ? compartirWhatsapp(item.telefono_user) : ''">
                        {{ services.validarText(item.telefono_user) ? item.telefono_user : '-' }}</td>
                    <!-- <td>{{ item.fecha }}</td> -->
                    <td *ngIf="services.validarText(item.telefono_user)" (click)="compartirWhatsapp(item.telefono_user)">
                        <button class="btn btn-contactar">Contactar</button>
                    </td>
                    <td *ngIf="!services.validarText(item.telefono_user)">
                        <button class="btn btn-contactar">Contactar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-container *ngIf="arrayPropietarios.length == 0">
        <div class="col-sm-12">
            <div class="contenedor-carpeta">
                <app-no-data></app-no-data>
            </div>
        </div>
    </ng-container>
</div>