<div class="row">
    <div class="col-12">
        <h2>Pagos</h2>
        <!-- <select *ngIf="arrayTorre.length > 0" [(ngModel)]="selectTorre" (change)="cambiarTorre()">
            <option *ngFor="let item of arrayTorre" [value]="item.id">{{ item.nombre }}</option>
        </select> -->
    </div>
    <div class="col-12" *ngIf="dataUser.conjunto == 1">
        <div class="contenedor-botones">
            <button (click)="ingresarValor()">Agregar Valor</button>
        </div>
    </div>
    <div class="col-12 contenedor-tabla">
        <table *ngIf="dataUser.conjunto == 0">
            <thead>
                <tr>
                    <th>Propiedad</th>
                    <th>Precio</th>
                    <th>Fecha</th>
                    <th>{{ !propiedad ? 'Fecha vencimiento' : 'Estado del pago' }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of arrayPagos">
                    <td>{{ item.nombre }}</td>
                    <td>{{ services.formatNumberInteger(item.precio) }}</td>
                    <td>{{ item.fecha_creacion }}</td>
                    <td>{{ !propiedad ? item.fecha_vencimiento : tipoStatud[item.statud] }}</td>
                    <td>
                        <button (click)="pagar(item)" *ngIf="item.statud == 0" class="btn btn-contactar">Pagar</button>
                        <button (click)="getDetallePago(item)" *ngIf="item.statud > 0" class="btn btn-contactar">Ver detalle</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <table *ngIf="dataUser.conjunto == 1">
            <thead>
                <tr>
                    <th>Propiedad</th>
                    <th>Precio</th>
                    <th>Fecha</th>
                    <th>Estado del pago</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of arrayPagos">
                    <td>{{ item.nombre }}</td>
                    <td>{{ services.formatNumberInteger(item.precio) }}</td>
                    <td>{{ item.fecha_creacion }}</td>
                    <td>{{ tipoStatud[item.statud] }}</td>
                    <td>
                        <button (click)="getDetallePago(item)" *ngIf="item.statud > 0" class="btn btn-contactar">Ver detalle</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-container *ngIf="arrayPagos.length == 0">
        <div class="col-sm-12">
            <div class="contenedor-carpeta">
                <app-no-data></app-no-data>
            </div>
        </div>
    </ng-container>
</div>