<div class="row" *ngIf="!documento">
    <div class="col-sm-3" *ngFor="let item of arrayTipoRevision">
        <div class="contenedor-carpeta" (click)="verDocumento(item)">
            <img src="assets/image/documentos/carpeta.png" alt="">
            <h6>

                {{ item.nombre }}
            </h6>
        </div>
    </div>
</div>

<div class="row" *ngIf="documento">
    <ng-container *ngIf="arrayDocumento.length > 0">
        <div class="col-sm-3" *ngFor="let item of arrayDocumento; ">
            <div class="contenedor-carpeta" (click)="services.openURL(services.urlRevicion+''+item.ruta)">
    
                <img src="assets/image/documentos/pdf.png" alt="">
                <h6>
    
                    {{ item.nombre }} {{ item.fecha }}
    
                </h6>
            </div>
        </div>
    </ng-container>

    <div class="col-12" *ngIf="arrayDocumento.length == 0">
        <div class="contenedor-carpeta">
            <app-no-data></app-no-data>
        </div>
    </div>
</div>

<div class="contenedor-botones">
    <button (click)="services.url('dashboard/revision')">Crear revición</button>
    <button (click)="atras()" *ngIf="documento">Atras</button>
</div>