@import 'src/variables.scss';
.row {
    padding: 16px;
    h2 {
        font-weight: bold;
        font-size: 16px;
        color: $heading;
        margin-bottom: 25px;
    }
}
.contenedor-carpeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: none;
    background-color: $white;
    padding: 15px 0px;
    margin-bottom: 32px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    cursor: pointer;
    img {
        width: 100px;
        margin: auto;
    }
    i {
        color: $primary;
        font-size: 50px;
    }
    h6 {
        margin-top: 8px;
        color: $heading;
        display: flex;
        flex-direction: column;
        word-break: break-all;
        padding: 9px 16px;
        font-family: 'Montserrat';
        font-size: 12px;
    }
}

.contenedor-botones {
    text-align: center;
    button {
        margin: 0 8px;
        background-color: $primary;
        color: #fff;
        font-size: 14px;
        border: none;
        border-radius: 20px;
        letter-spacing: 1px;
        padding: 9px 16px;
        font-weight: bold;
        font-family: 'Montserrat';
    }
}