<div class="modal fade" id="modal-info-propietario" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Informacion del propietario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="dataPropietario">
                <div class="row">
                    <div class="col-4">
                        <label for="">Nombre</label>
                        <label for="">{{ dataPropietario.nombre_user }}</label>
                    </div>
                    <div class="col-4">
                        <label for="">Correo</label>
                        <label for="">{{ dataPropietario.email_user }}</label>
                    </div>
                    <div class="col-4">
                        <label for="">Telefono</label>
                        <a target="_blank" href="https://api.whatsapp.com/send?phone={{ dataPropietario.telefono_user }}">{{ dataPropietario.telefono_user }}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4" *ngIf="dataPropietario.status == '0'">
                        <button (click)="aceptarPropietario($event)">Aceptar</button>
                    </div>
                    <div class="col-4" *ngIf="dataPropietario.status == '0'">
                        <button (click)="removerPropietario($event)">Remover</button>
                    </div>
                    <div class="col-4">
                        <button data-dismiss="modal" aria-label="Close">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>