@import 'src/variables.scss';
h2 {
    text-align: left;
    color: #282B3B;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.contenedor-input {
    &.bordermix {
        margin: auto 0 0 0;
        /* border: 1px solid #8275f4; */
        padding: 16px;
        /* border-radius: 7px; */
        /* -webkit-box-shadow: 7px 6px 13px -6px rgba(130, 117, 244, 1);
        -moz-box-shadow: 7px 6px 13px -6px rgba(130, 117, 244, 1);
        box-shadow: 7px 6px 13px -6px rgba(130, 117, 244, 1); */
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
    }
    @media (max-width: 575px) {
        width: 100%;
    }
    
    .group-input {
        p {
            font-family: 'Montserrat';
            font-weight: bold;
            font-size: 14px;
            color: #282B3B;
        }

        input, label, select {
            width: auto;
            font-family: 'Montserrat';
            font-weight: normal;
            font-size: 14px;
            color: #6A707E;
            border: 1px solid #E9EAEB;
            min-width: 30%;
        }
        span {
            font-family: 'Montserrat';
            font-weight: normal;
            font-size: 12px;
            color: $primary;
        }
    }
    p {
        margin-bottom: -4px;
        margin-left: 4px;
        font-size: 13px;
        margin-top: 16px;
    }
    input,
    select,
    label {
        margin: 5px 0 0 2px;
        font-size: 12px;
        width: 80%;
        padding: 3px 9px;
        border-radius: 7px;
        border: solid 1px $primary;
        color: $body;
        background-color: white;
    }
    .contenedorvistaprevia {
        max-height: 100px;
        padding: 5px;
        margin-top: 5px;
        overflow: scroll;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        border: solid 1px #8275F4;
        border-radius: 3px;
        label {
            margin-bottom: 0px;
            margin-top: 5px;
            border-bottom: solid 1px #8275F4;
        }
    }
}

.flex-direction {
    flex-direction: inherit;
}
#profile {
    .group-input {
        input, label, select {
            width: auto;
            font-family: 'Montserrat';
            font-weight: normal;
            font-size: 14px;
            color: #6A707E;
            border: 1px solid #E9EAEB;
            min-width: 50%;
        }
    }
}

button, a {
    background: $primary;
    color: white;
    font-family: "Montserrat", sans-serif;
    border-radius: 20px;
    margin: 15px 0px;
    padding: 7px 20px;
    border: none;
    font-weight: bold;
    font-size: 14px;
}

.edificio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    .nav-item {
        width: 25%;
        button {
            color: $primary;
            font-family: 'Montserrat';
            font-size: 16px;
            font-weight: bold;
            background-color: #f2f1fe;
            border-radius: 0px;
            width: 100%;
            &.active {
                background-color: $primary;
                color: $white;
            }
        }
    }
}

.contec-btn {
    display: flex;
    flex-direction: column;
    width: 25%;
}