<div class="modal content-login " id="ModalCambiarcontrasena" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cambiar contraseña</h5>
                <button (click)="limpiar()" aria-label="Close" class="close" data-dismiss="modal" type="button"> <span
                        aria-hidden="true"> ×
                    </span> </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formPasswors" (submit)="updatePassword($event)" class="row contenedor-input bordermix">

                    <div class="col-sm-6">
                        <p>
                            Contraseña antigua</p>
                        <input type="password" formControlName="passwors" placeholder="" (keyup)="cambiarValidarMensaje()">
                        <ng-container *ngIf="formPasswors.controls.passwors.errors && !validarMensaje">
                            <label for="" *ngIf="formPasswors.controls.passwors.errors.required">La contraseña está
                                vacio</label>
                        </ng-container>
                    </div>
                    <div class="col-sm-6">
                        <p>
                            Contraseña nueva</p>
                        <input type="password" formControlName="new_passwors" placeholder="" (keyup)="cambiarValidarMensaje()">
                        <ng-container *ngIf="formPasswors.controls.new_passwors.errors && !validarMensaje">
                            <label for="" *ngIf="formPasswors.controls.new_passwors.errors.required">La contraseña está
                                vacio</label>
                        </ng-container>
                    </div>
                    <div class="col-sm-6">
                        <p>
                            Repetir nueva contraseña </p>
                        <input type="password" formControlName="confirmar_passwors" placeholder="" (keyup)="cambiarValidarMensaje()">
                        <ng-container *ngIf="formPasswors.controls.confirmar_passwors.errors && !validarMensaje">
                            <label for="" *ngIf="formPasswors.controls.confirmar_passwors.errors.required">La contraseña
                                está vacio</label>
                        </ng-container>
                    </div>
                    <div class="col-12">

                        <button class="btn">Cambiar</button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>