@import 'src/variables.scss';

.container {
    .content-login {
        padding: 5%;
        img {
            display: block;
            margin: 25px auto;
        }
        h5 {
            text-align: center;
            color: $heading;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            span {
                color: $primary;
            }
        }
        p {
            color: $body;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
        }
        label {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Montserrat', sans-serif;
            color: $heading;
            cursor: pointer;
        }
        .content-input {
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;

            input {
                margin: 5px 0;
                padding: 25px;
                border-radius: 10px;
                border: solid 1px $primary;
                color: $body;
            }

            button {
                background: $primary;
                color: white;
                font-family: 'Montserrat', sans-serif;
                border-radius: 10px;
                margin: 15px 0px;
                width: 100%;
                padding: 11px 0;
            }
        }
    }
}