<div class="container">
    <div class="row content-login">
        <div class="col-8 mx-auto">
            <img src="../../../assets/image/admina.png">
        </div>
        <div class="col-8 mx-auto">
            <img src="../../../assets/image/Group 2.png">
        </div>
        <div class="col-8 mx-auto">
            <h5>Creando <span>comunidades</span> en propiedad horizontal</h5>
            <p>Inicia sesión para acceder a toda la información de tu co-propiedad</p>
        </div>
        <form [formGroup]="form" class="col-8 mx-auto content-input">
            <input type="text" formControlName="email" (keyup)="cambiarValidarMensaje()" class="form-control email" placeholder="Tu email" name="" id="">
            <ng-container *ngIf="form.controls.email.errors && !validarMensaje">
                <label for="" *ngIf="form.controls.email.errors.required">El email está vacio</label>
                <label for="" *ngIf="form.controls.email.errors.email">El email no es valido</label>
            </ng-container>
            <input type="password" formControlName="password" (keyup)="cambiarValidarMensaje()" class="form-control password" placeholder="Contraseña" name="" id="">
            <ng-container *ngIf="form.controls.password.errors && !validarMensaje">
                <label for="" *ngIf="form.controls.password.errors.required">El email está vacio</label>
            </ng-container>
            <button class="btn" (click)="login($event)">Entrar como propietario</button>
            <button class="btn mb-3" (click)="loginPropiedad($event)">Entrar como propiedad</button>
        </form>
        <div class="col-8 mx-auto">
            <label class="labelhover" (click)="abrirModal()">¿Aún no eres miembro? Crea una cuenta.</label>
        </div>
        <div class="col-8 mx-auto">
            <label class="labelhover" (click)="services.url('/registro-propiedad')">¿Aún no tienes un conjunto? Crea una
                cuenta.</label>
        </div>
    </div>
    <div class="modal content-login" id="ModalRegistro" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Creación de cuenta</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"> <span
                            aria-hidden="true"> × </span> </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form [formGroup]="formRegistro" (submit)="registrar($event)" class="col-12 content-input">
                            <input type="text" formControlName="nombre" (keyup)="cambiarValidarMensajeRegistro()" class="form-control email" placeholder="Tu nombre" name="" id="">
                            <ng-container *ngIf="formRegistro.controls.nombre.errors && !validarMensajeRegistro">
                                <label for="" *ngIf="formRegistro.controls.nombre.errors.required">El nombre está
                                    vacio</label>
                            </ng-container>
                            <input type="date" formControlName="fecha" (keyup)="cambiarValidarMensajeRegistro()" class="form-control email" placeholder="Tu fecha de nacimiento" name="" id="">
                            <ng-container *ngIf="formRegistro.controls.fecha.errors && !validarMensajeRegistro">
                                <label for="" *ngIf="formRegistro.controls.fecha.errors.required">La fecha está
                                    vacio</label>
                                <label for="" *ngIf="formRegistro.controls.fecha.errors.fecha">Solo se pueden registrar
                                    mayores de 18 años</label>
                            </ng-container>
                            <input type="text" formControlName="email" (keyup)="cambiarValidarMensajeRegistro()" class="form-control email" placeholder="Tu email" name="" id="">
                            <ng-container *ngIf="formRegistro.controls.email.errors && !validarMensajeRegistro">
                                <label for="" *ngIf="formRegistro.controls.email.errors.required">El email está
                                    vacio</label>
                                <label for="" *ngIf="formRegistro.controls.email.errors.email">El email no es
                                    valido</label>
                            </ng-container>
                            <input type="password" formControlName="password" (keyup)="cambiarValidarMensajeRegistro()" class="form-control password" placeholder="Contraseña" name="" id="">
                            <ng-container *ngIf="formRegistro.controls.password.errors && !validarMensajeRegistro">
                                <label for="" *ngIf="formRegistro.controls.password.errors.required">El email está
                                    vacio</label>
                            </ng-container>
                            <button class="btn">Registrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>