@import 'src/variables.scss';
.row-tabla {
    .contenedor-tabla {
        height: 450px;
    }
    padding: 16px;
    h5 {
        text-align: center;
        color: $heading;
        font-weight: bold;
        span {
            color: $primary;
        }
    }
    table {
        table-layout: fixed;
        th,
        td {
            width: 300px;
            padding: 9px 6px;
        }
        th {
            border-bottom: 1px solid;
        }
    }
}