@import 'src/variables.scss';
.container {
    background: $white;
    .conten-propiedades {
        background: url('../../../assets/image/dashboard/Background.png');
        background-size: cover;
        padding: 34px 30px;
        height: auto;
        max-height: 80vh;
        overflow: scroll;
        h1,
        p {
            color: $white;
        }
        .conten-propiedades-propiedad {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px 0;
            .propiedad {
                display: flex;
                justify-content: center;
                align-items: center;
                background: $body-claro;
                padding: 5px 10px;
                font-size: 15px;
                width: 350px;
                border-radius: 4px;
                label {
                    margin-bottom: 0;
                }
                label:last-child {
                    margin-left: 136px;
                    mat-icon {
                        font-size: 15px;
                        height: 0;
                        width: 10px;
                    }
                }
            }
            button {
                position: absolute;
                right: 90px;
                border: none;
                background: $body;
                color: $white;
                border-radius: 0px 4px 4px 0px;
                height: 33px;
            }
        }
        a {
            display: flex;
            text-decoration: none;
            color: white;
            margin: 7px 0;
            position: relative;
            left: 280px;
        }
    }
    textarea {
        resize: none;
        border-radius: 8px;
        margin-bottom: 16px;
        border: none;
    }
    input {
        border: none;
        border-radius: 8px;
        width: 100%;
        margin-top: 16px;
    }
    button {
        background: $primary;
        color: white;
        border-radius: 10px;
        margin: 15px 0px 16px 0;
        width: 150px;
        padding: 0px 0;
        border: 1px solid;
    }
    .contenedor-comentario {
        .botonini {
            display: flex;
            justify-content: space-between;
            align-items: end;
            margin-bottom: 16px;
            flex-direction: column;
        }
        .contenedor-respuesta {
            text-align: right;
            background: #efefef;
            padding: 9px 16px;
            border-radius: 8px;
        }
        .contenedormi {
            overflow: scroll;
            max-height: 300px;
            padding-right: 16px;
            overflow-x: hidden;
            .comentario {
                padding: 16px;
                text-align: left;
                font-size: 12px;
            }
        }
        .respuestacomentarios {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            margin-top: 16px;
            border-radius: 8px;
        }
    }
    .contect-comunidad {
        background: url('../../../assets/image/dashboard/Mask\ Group.png');
        background-size: 140%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 300px;
        border-radius: 25px;
        img {
            width: 105px;
            height: 136px;
        }
        h6 {
            color: $body-oscuro;
        }
        button {
            color: $white;
            background: $primary;
            display: flex;
            align-items: center;
            border: none;
            border-radius: 5px;
            margin: 5px 0;
        }
    }
    .conten-buzon {
        border-radius: 11px;
        box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 20%);
        padding: 5px 30px;
        hr {
            width: 345px;
            position: relative;
            left: -27px;
        }
        .conten-buzon-mensaje {
            .conten-buzon-mensaje-titulo {
                display: flex;
                justify-content: space-between;
                label {
                    margin: 0;
                    font-size: 14px;
                    span {
                        font-weight: bold;
                    }
                }
                .conten-buzon-mensaje-titulo-fecha-sede {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    span {
                        margin: 0 5px;
                        &:first-child {
                            color: $primary;
                            background: $primary-difuminado;
                            padding: 0px 9px;
                            border-radius: 25px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: 72px;
                        }
                        &:last-child {
                            color: $body;
                        }
                    }
                }
            }
            p {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
        }
        a {
            display: flex;
            text-decoration: none;
            color: $secondary;
            margin: 7px 0;
            justify-content: end;
        }
    }
}

.conten-muro-scroll {
    height: auto;
    max-height: 50vh;
    overflow: scroll;
    margin-top: 40px;
}

.content-muro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #EEF5F9;
    padding: 4px 12px;
    border-bottom: none;
    cursor: pointer;

    .content-muro-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        label {
            color: #ABAFB3;
            font-family: 'Montserrat';
            font-weight: normal;
            &:nth-child(1) {
                font-size: 14px;
            }
            &:nth-child(2) {
                font-size: 9px;
            }
        }
    }

    .content-muro-body {
        display: flex;
        justify-content: center;
        flex-direction: column;

        label, p {
            font-family: 'Montserrat';
        }

        label {
            font-weight: bold;
            font-size: 13px;
            color: #6A707E;
        }

        p {
            font-weight: normal;
            font-size: 12px;
            color: #ABAFB3;
        }
    }

    &.active {
        background-color: $primary;
        .content-muro-head, .content-muro-body {
            label, p {
                color: $white;
            }
        }
    }
}

.contenedor-comentario {
    label, p {
        font-family: 'Montserrat';
    }

    .contenedor-comentario-head {
        label, span {
            font-family: 'Circular Std Book';
            font-weight: normal;
            font-size: 10px;
        }
        label {
            color: $primary;
            margin: 0px;
        }
        span {
            color: #ABAFB3;
        }
    }

    .contenedor-comentario-body {
        .contenedor-comentario-body-scroll {
            height: auto;
            max-height: 50vh;
            overflow: scroll;
            .contenedor-comentario-body-head-titulo {
                display: flex;
                align-items: center;
                justify-content: space-between;
                label {
                    color: $primary;
                    font-size: 13px;
                    font-weight: bold;
                }
                span {
                    font-size: 9px;
                    font-family: 'Circular Std Book';
                    color: #ABAFB3;
                }
            }
            p {
                font-size: 13px;
                font-weight: normal;
                color: #6A707E;
                text-align: justify;
            }
        }
    }

    .contenedor-comentario-footer {
        textarea {
            font-family: 'Circular Std Book';
            border: 1px solid #E9EAEB;
            color: #ABAFB3;
            font-weight: normal;
            font-size: 14px;
            width: 100%;
            padding: 10px;
        }

        button {
            font-family: 'Circular Std Book';
            font-size: 11px;
            border-radius: 20px;
            font-weight: normal;
            width: auto;
            margin: 0;
            padding: 5px 30px;
            float: right
        }
    }
}

.contenedor-publicar {
    label, p, textarea {
        font-family: 'Montserrat';
    }
    .contenedor-publicar-head {
        label {
            font-weight: bold;
            font-size: 14px;
            color: $primary
        }
        p {
            font-weight: normal;
            font-size: 12px;
            color: #282B3B;
        }
    }
    .contenedor-publicar-body {
        textarea {
            border: 1px solid #E9EAEB;
            color: #ABAFB3;
            font-weight: normal;
            font-size: 14px;
            width: 100%;
            padding: 10px;
        }

        button {
            font-family: 'Circular Std Book';
            font-size: 11px;
            border-radius: 20px;
            font-weight: normal;
            width: auto;
            margin: 0;
            padding: 5px 30px;
            float: right
        }
    }
}

::ng-deep .swal2-actions {
    flex-direction: inherit;
}

::ng-deep body.swal2-no-backdrop .swal2-container {
    background: rgba(0,0,0,.4) !important;
}

::ng-deep .swal2-input {
    margin: 10px auto;
}