<div class="container">
    <div class="row">
        <div class="col-md-6 ">
            <div class="contenedor-publicar">
                <div class="contenedor-publicar-head">
                    <label for="">¡Hola {{ dataUsuario ? dataUsuario.nombre : '' }}!</label>
                    <p>Publica un nuevo comentario e interactúa con otros propietarios</p>
                </div>
                <div class="contenedor-publicar-body">
                    <textarea name="" id="" [(ngModel)]="descripcionMuro" placeholder="esto es el muro"></textarea>
                    <button (click)="saveMuro($event)">Publicar</button>
                </div>
            </div>
            <div class="conten-muro-scroll">
                <div class="content-muro" [id]="indice" *ngFor="let item of arrayMuro; let indice = index" (click)="cargaDatarMuro(item, indice)">
                    <div class="content-muro-head">
                        <label for="">{{ item.nombre_user }}</label>
                        <label for="">{{ item.fecha_creacion }}</label>
                    </div>
                    <div class="content-muro-body">
                        <!-- <label for="">Lorem ipsum dolor sit amet, consetetur</label> -->
                        <p>{{ item.descripcion }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="contenedor-comentario" *ngIf="dataComentario">
                <div class="contenedor-comentario-head">
                    <label for="">{{ dataComentario.nombre_user }}</label><br>
                    <span>{{ dataComentario.fecha_creacion }}</span>
                </div>
                <div class="contenedor-comentario-body">
                    <div class="contenedor-comentario-body-scroll">
                        <ng-container *ngFor="let item of dataComentario.comentarios; let indice = index">
                            <div class="contenedor-comentario-body-head-titulo">
                                <label for="">{{ item.nombre_user }}</label>
                                <span>{{ item.fecha_creacion }}</span>
                            </div>
                            <p>{{ item.comentario }}</p>
                        </ng-container>
                    </div>
                </div>
                <div class="contenedor-comentario-footer">
                    <textarea name="" id="" [(ngModel)]="comentario" placeholder="Escribe tu comentario...."></textarea>
                    <button (click)="saveComentario($event, dataComentario.id, comentario)">Comentar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-8">
            <div class="conten-propiedades">
                <textarea name="" id="" [(ngModel)]="descripcionMuro" style="width: 100%; max-height: 200px">esto es el muro</textarea>
                <button (click)="saveMuro($event)">Publicar</button>
                <div class="contenedor-comentario">
                    <ng-container *ngFor="let item of arrayMuro">
                        <hr>
                        <h6>{{ item.nombre_user }}</h6>
                        <small>{{ item.fecha_creacion }}</small>
                        <div>
                            {{ item.descripcion }}
                        </div>
                        <div class="botonini">

                            <input type="text" [(ngModel)]="item.comentario">
                            <button (click)="saveComentario($event, item.id, item.comentario)">Comentar</button>
                        </div>

                        <div class="contenedor-respuesta">
                            <div class="contenedormi">

                                <div class="respuestacomentarios" *ngFor="let item2 of item.comentarios">
                                    <div class="comentario">
                                        {{ item2.comentario }}
                                    </div>
                                    <div>
                                        <h6>{{ item2.nombre_user }}</h6>
                                        <small>{{ item2.fecha_creacion }}</small>
                                    </div>
                                </div>
                                <hr>
                            </div>

                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div> -->
</div>