<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-8">
                    <div class="conten-propiedades">
                        <textarea name="" id="" [(ngModel)]="descripcionMuro" style="width: 100%; max-height: 200px">
                            esto es el muro

                        </textarea>
                        <button (click)="saveMuro($event)">Publicar</button>
                        <ng-container *ngFor="let item of arrayMuro">
                            <h6>{{ item.nombre_user }}</h6>
                            <small>{{ item.fecha_creacion }}</small>
                            <div>
                                {{ item.descripcion }}
                            </div>
                            <input type="text" [(ngModel)]="item.comentario">
                            <button (click)="saveComentario($event, item.id, item.comentario)">Comentar</button>
                        </ng-container>
                    </div>
                </div>
                <!-- <div class="col-4">
                    <div class="contect-comunidad">
                        <img src="../../../assets/image/dashboard/Humaaan.png" alt="">
                        <h6>Comunicados</h6>
                        <button>Crear nuevo <mat-icon>add</mat-icon></button>
                    </div>
                </div> -->
            </div>
        </div>
        <!-- <div class="col-4">
            <div class="conten-buzon">
                <h2>Buzón de mensajes</h2>
                <div class="conten-buzon-mensaje">
                    <hr>
                    <div class="conten-buzon-mensaje-titulo">
                        <label for="">De: <span>Santiago Trujillo</span></label>
                        <div class="conten-buzon-mensaje-titulo-fecha-sede">
                            <span>Sendai</span>
                            <span>06 Feb</span>
                        </div>
                    </div>
                    <p>Querida Juana, quería informarte que el veciono de arriba ha estado escuchando música a altos....
                    </p>
                </div>
                <div class="conten-buzon-mensaje">
                    <hr>
                    <div class="conten-buzon-mensaje-titulo">
                        <label for="">De: <span>David Gómez</span></label>
                        <div class="conten-buzon-mensaje-titulo-fecha-sede">
                            <span>Villas de sol</span>
                            <span>06 Feb</span>
                        </div>
                    </div>
                    <p>Querida Juana, quería informarte que el veciono de arriba ha estado escuchando música a altos....
                    </p>
                </div>
                <div class="conten-buzon-mensaje">
                    <hr>
                    <div class="conten-buzon-mensaje-titulo">
                        <label for="">De: <span>Carlos García</span></label>
                        <div class="conten-buzon-mensaje-titulo-fecha-sede">
                            <span>Villas de sol</span>
                            <span>06 Feb</span>
                        </div>
                    </div>
                    <p>Querida Juana, quería informarte que el veciono de arriba ha estado escuchando música a altos....
                    </p>
                </div>
                <div class="conten-buzon-mensaje">
                    <hr>
                    <div class="conten-buzon-mensaje-titulo">
                        <label for="">De: <span>Ricardo Jaramillo</span></label>
                        <div class="conten-buzon-mensaje-titulo-fecha-sede">
                            <span>Villas de sol</span>
                            <span>06 Feb</span>
                        </div>
                    </div>
                    <p>Querida Juana, quería informarte que el veciono de arriba ha estado escuchando música a altos....
                    </p>
                </div>
                <div class="conten-buzon-mensaje">
                    <hr>
                    <div class="conten-buzon-mensaje-titulo">
                        <label for="">De: <span>Gloria Giraldo</span></label>
                        <div class="conten-buzon-mensaje-titulo-fecha-sede">
                            <span>Villas de sol</span>
                            <span>06 Feb</span>
                        </div>
                    </div>
                    <p>Querida Juana, quería informarte que el veciono de arriba ha estado escuchando música a altos....
                    </p>
                </div>
                <hr>
                <a>Ver todos los mensajes <mat-icon>arrow_forward</mat-icon></a>
            </div>
        </div> -->
    </div>
</div>