<div class="modal fade" id="modal-notificaion" tabindex="-1" role="dialog" aria-labelledby="perfilusuarioTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="perfilusuarioLongTitle">Notificaciones</h5>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                x
            </button>
            <div class="modal-body">
                <ng-container *ngIf="arrayNotificaion.length > 0">
                    <div class="contenedor-notificacion" *ngFor="let item of arrayNotificaion">
                        <div class="contenedor-notificacion-body">
                            <p [innerHTML]="item.mensaje"></p>
                            <span>{{ item.fecha }}</span>
                        </div>
                    </div>
                </ng-container>
                <app-no-data *ngIf="arrayNotificaion.length == 0"></app-no-data>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>