<div class="modal fade" id="modal-notificaion" tabindex="-1" role="dialog" aria-labelledby="perfilusuarioTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="perfilusuarioLongTitle">Notificaciones</h5>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                x
            </button>
            <div class="modal-body">
                <div class="contenedor-notificacion" *ngIf="arrayNotificaion.length > 0">
                    <ng-container *ngFor="let item of arrayNotificaion">
                        <!-- <div class="contenedor-notificacion-imagen"></div> -->
                        <div class="contenedor-notificacion-body">
                            <!-- <label for="">Lorem ipsum dolor sit</label> -->
                            <p>{{ item.mensaje }}</p>
                            <span>{{ item.fecha }}</span>
                        </div>
                        <!-- <div class="contenedor-notificacion-opciones"></div> -->
                    </ng-container>
                </div>
                <app-no-data *ngIf="arrayNotificaion.length == 0"></app-no-data>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>