    @import 'src/variables.scss';
    .contenedor-tabla {
        height: 450px;
    }
    
    select {
        border-radius: 8px;
        margin-left: 16px;
        font-size: 13px;
    }
    
    .row-tabla {
        padding: 16px;
        h5 {
            text-align: center;
            color: $heading;
            font-weight: bold;
            span {
                color: $primary;
            }
        }
        table {
            table-layout: fixed;
            th,
            td {
                width: 300px;
                padding: 9px 6px;
            }
            th {
                border-bottom: 1px solid;
            }
        }
    }