<nav>
    <div class="conten-nav">
        <div class="conten-nav-img">
            <img src="../../../assets/image/admina.png" alt="">
        </div>
        <div class="conten-nav-menu">
            <div class="conten-nav-menu-group">
                <img src="../../../assets/image/buscar.png" alt="">
                <input type="text" name="" id="" placeholder="Buscar en dashboard">
            </div>
            <div class="conten-nav-menu-date">
                <input type="date" name="" id="">
            </div>
            <div class="conten-nav-menu-notificacion">
                <img src="../../../assets/image/notification.png" alt="">
            </div>
            <div *ngIf="dataUser.conjunto == 1" (click)="services.cargarQr(dataUser.codigo, 'propiedad-qr')" data-toggle="modal" data-target="#exampleModalCenter" class="conten-nav-menu-notificacion compartirt">
                <img src="../../../assets/image/compartir/compartir.png" alt="">
            </div>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-description>
                            <div class="conten-nav-menu-user">
                                <img src="../../../assets/image/avatar.png" alt="">
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</nav>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Compartir</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="dataUser.conjunto == 1" #referido>

                <div class="content-cargar-qr">
                    <div class="content-qr" id="propiedad-qr"></div>
                    <div class="text-qr">{{ dataUser.codigo }}</div>
                </div>

                <h6 class="text-center">Haz click y comparte </h6>

                <div class="contenedor-img">

                    <a (click)="compartirWhatsapp()"> <img src="/assets\image\compartir/ws.png" alt=""> </a>
                    <!-- <a href=""> <img src="/assets\image\compartir/tw.png" alt=""> </a>
                    <a href=""> <img src="/assets\image\compartir/fb.png" alt=""> </a> -->
                    <button class="btn" ngxClipboard [cbContent]="dataUser.codigo" [container]="referido" (cbOnSuccess)="services.Toast('success', 'Se copio con exito')"> <img
                            src="/assets\image\compartir/copiar.png" alt=""> </button>
                </div>
            </div>

        </div>
    </div>
</div>