<div class="row" *ngIf="!documento">
    <div class="col-sm-3" *ngFor="let item of arrayTipoRevision">
        <div class="contenedor-carpeta" (click)="verDocumento(item)">
            <img src="assets/image/documentos/carpeta.png" alt="">
            <h6>

                {{ item.nombre }}
            </h6>
        </div>
    </div>
</div>

<div class="row" *ngIf="documento">
    <div class="col-sm-3" *ngFor="let item of arrayDocumento; ">
        <div class="contenedor-carpeta" (click)="services.openURL(services.urlRevicion+''+item.ruta)">

            <img src="assets/image/documentos/pdf.png" alt="">
            <h6>

                {{ item.nombre }} {{ item.fecha }}

            </h6>
            <h6 *ngIf="!propiedad">
                {{ item.nombre_propiedad }}
            </h6>
        </div>
    </div>

    <div class="col-12" *ngIf="arrayDocumento.length == 0">
        <div class="contenedor-carpeta">

            <img src="assets/image/documentos/no-documento.png" alt="">
            <h6>

                no hay documento

            </h6>

        </div>
    </div>
</div>


<!-- <table class="table" *ngIf="documento">
    <tbody>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th *ngIf="!propiedad">Propiedad</th>
            <th>Fecha</th>
            <th></th>
        </tr>
    </tbody>
    <tbody>
        <tr *ngFor="let item of arrayDocumento; let indece = index">
            <td>{{ indece + 1 }}</td>
            <td>{{ item.nombre }}</td>
            <td *ngIf="!propiedad">{{ item.nombre_propiedad }}</td>
            <td>{{ item.fecha }}</td>
            <td (click)="services.openURL(services.urlRevicion+''+item.ruta)">Ver</td>
        </tr>
    </tbody>
</table> -->

<div class="contenedor-botones">
    <button *ngIf="!propiedad" data-toggle="modal" data-target="#modal-save-documento" (click)="abrirModal()">Agregar</button>
    <button (click)="atras()" *ngIf="documento">Atras</button>
</div>