<div class="row" *ngIf="!documento">
    <div class="col-12">
        <h2>Documentos</h2>
    </div>
    <ng-container *ngIf="arrayTipoRevision.length > 0">
        <div class="col-sm-2" *ngFor="let item of arrayTipoRevision">
            <div class="content-opcion" *ngIf="!propiedad">
                <i class="fas fa-pencil-alt" (click)="abrirModalCrearCarpeta(item)"></i>
                <i class="fas fa-trash-alt" (click)="deleteCarpeta(item)"></i>
            </div>
            <div class="contenedor-carpeta" (click)="verDocumento(item)">
                <!-- <img src="assets/image/documentos/carpeta.png" alt=""> -->
                <i class="fa-solid fa-folder-open"></i>
                <h6>
                    {{ item.nombre }}
                </h6>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="arrayTipoRevision.length == 0">
        <div class="col-sm-12">
            <div class="contenedor-carpeta">
                <app-no-data></app-no-data>
            </div>
        </div>
    </ng-container>
</div>

<div class="row" *ngIf="documento">
    <div class="col-12">
        <label (click)="atras()" *ngIf="documento" for=""><i class="fa-solid fa-arrow-left"></i> Regresar</label>
        <h2>{{ nameDocumento }}</h2>
    </div>
    <ng-container *ngIf="arrayDocumento.length > 0">
        <div class="col-sm-3" *ngFor="let item of arrayDocumento; ">
            <div class="contenedor-file" (click)="services.openURL(services.urlRevicion+''+item.ruta)">
    
                <img src="assets/image/documentos/pdf.png" alt="">
                <div class="contenedor-titulos">
                    <h6>
        
                        {{ item.nombre }} {{ item.fecha }}
        
                    </h6>
                    <h6 *ngIf="!propiedad">
                        Apto - {{ item.nombre_propiedad }}
                    </h6>
                </div>
            </div>
        </div>
    </ng-container>

    <div class="col-12" *ngIf="arrayDocumento.length == 0">
        <div class="contenedor-carpeta">
            <app-no-data></app-no-data>
        </div>
    </div>
</div>


<!-- <table class="table" *ngIf="documento">
    <tbody>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th *ngIf="!propiedad">Propiedad</th>
            <th>Fecha</th>
            <th></th>
        </tr>
    </tbody>
    <tbody>
        <tr *ngFor="let item of arrayDocumento; let indece = index">
            <td>{{ indece + 1 }}</td>
            <td>{{ item.nombre }}</td>
            <td *ngIf="!propiedad">{{ item.nombre_propiedad }}</td>
            <td>{{ item.fecha }}</td>
            <td (click)="services.openURL(services.urlRevicion+''+item.ruta)">Ver</td>
        </tr>
    </tbody>
</table> -->

<div class="contenedor-botones">
    <button *ngIf="!propiedad" data-toggle="modal" data-target="#modal-save-documento" (click)="abrirModal()">Agregar</button>
    <button *ngIf="!propiedad" (click)="abrirModalCrearCarpeta(undefined)">Crear nuevo documento</button>
    <!-- <button (click)="atras()" *ngIf="documento">Atras</button> -->
</div>