<form action="" method="post">
    <div class="row">

        <div class="col-6">

            <p> nombre propiedad: </p>
            <input type="text" placeholder="">
        </div>
        <div class="col-6">

            <p> correo certificado propiedad: "el correo que se usa en los documentos legales" </p>
            <input type="text" placeholder="">
        </div>
        <div class="col-6">

            <p> dirección propiedad: </p>
            <input type="text" placeholder="">
        </div>
        <div class="col-6">

            <p> departamento: </p>
            <input type="text" placeholder="">
        </div>
        <div class="col-6">

            <p> ciudad: </p>
            <input type="text" placeholder="">
        </div>
        <div class="col-6">

            <p> codigo postal </p>
            <input type="text" placeholder="">
        </div>
    </div>
</form>