<form action="" method="post">
    <div class="row">

        <div class="col-6">

            <p> nombre propiedad: </p>
            <input type="text" placeholder="">
        </div>
        <div class="col-6">

            <p> correo certificado propiedad: "el correo que se usa en los documentos legales" </p>
            <input type="text" placeholder="">
        </div>
        <div class="col-6">

            <p> dirección propiedad: </p>
            <input type="text" placeholder="">
        </div>
        <div class="col-6">

            <p> departamento: </p>
            <input type="text" placeholder="">
        </div>
        <div class="col-6">

            <p> ciudad: </p>
            <input type="text" placeholder="">
        </div>
        <div class="col-6">

            <p> codigo postal </p>
            <input type="text" placeholder="">
        </div>
    </div>
</form>

<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div>
            <h2 style="text-align: center;">DESCRIPCIÓN</h2>
            <div class="col-xs-12 col-sm-12">
                <div>
                    <p style="text-align: justify;"><span>Nuestra salsa BBQ Sweet, es una salsa ahumada y dulce, un
                            equilibrio de sabores que es perfecto para ser el acompañante de una comida rápida, como
                            aderezo y en preparaciones en caliente. BBQ dulce tiene una textura ideal para caramelizar,
                            potencia los sabores de parrilladas en cortes de res, cerdo, aves, mariscos y
                            vegetales.</span></p>
                </div>
            </div>

        </div>
    </div>

    <div class="col-xs-12 col-sm-4">
        <div>
            <div class="col-xs-12 col-sm-12">
                <div>
                    <h2 style="text-align: center;">MODO DE USO</h2>
                    <p style="text-align: justify;"><span>Salsa BBQ Sweet perfecta para consumir directamente, acompañar
                            preparaciones, utilizar como adobo o durante el proceso de cocción.</span></p>
                    <p style="text-align: justify;"><span>Este producto se vende con una vigencia entre 120 y 240 días
                            de vida útil.</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div>
            <h2 style="text-align: center;">INGREDIENTES SALSA BBQ SWEET</h2>
            <p style="text-align: justify;">Agua, azúcar, pasta de tomate, sal, espesante (almidón modificado), acidulante (ácido acético), especias naturales, color caramelo, sabor natural (humo), conservantes (benzoato de sodio, sorbato de potasio), estabilizante (goma xanthan). Contiene
                mostaza.
            </p>
        </div>
    </div>
</div>