$primary: #8275F4 !default;
$secondary: #4087D3 !default;
$body: #898FA9 !default;
$heading: #282B3B !default;
$soft-grey: #EFEFEF !default;
$white: #FFFFFF !default;
$body-claro: #F9F9F9 !default;
$body-oscuro: #55565E !default;
$text: #282B3B !default;
$primary-difuminado: rgba(130, 117, 244, 0.1)!default;