<app-nav></app-nav>

<!-- <router-outlet></router-outlet> -->

<!-- <app-sideboard></app-sideboard> -->
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened>
        <ng-container *ngIf="!propiedad">
            <div *ngIf="dataUser.conjunto == 1" [routerLink]="['/dashboard']" class="contenedor-menu-dashoboard dashoboard">
                <img src="../../../assets/image/sideboard/dashboard.png" alt="">
                <p>Dashboard</p>
            </div>
            <div *ngIf="dataUser.conjunto == 0" [routerLink]="['/dashboard/copropiedades']" class="contenedor-menu-dashoboard copropiedades">
                <img src="../../../assets/image/sideboard/copropiedades.png" alt="">
                <p>Propiedades</p>
            </div>
            <div *ngIf="dataUser.conjunto == 1" [routerLink]="['/dashboard/propietarios']" class="contenedor-menu-dashoboard pagos">
                <img src="../../../assets/image/sideboard/copropiedades.png" alt="">
                <p>Propietarios</p>
            </div>
            <div *ngIf="dataUser.conjunto == 1" [routerLink]="['/dashboard/documento']" class="contenedor-menu-dashoboard pagos">
                <img style="    filter: contrast(0.5);" src="../../../assets/image/sideboard/documents_files_icon_144654.png" alt="">
                <p>Documentos</p>
            </div>
            <div *ngIf="dataUser.conjunto == 1" [routerLink]="['/dashboard/historial-reviciones']" class="contenedor-menu-dashoboard pagos">
                <img style="    filter: contrast(0.5);" src="../../../assets/image/sideboard/revision.png" alt="">
                <p>Reviciones de administración</p>
            </div>
            <div [routerLink]="['/dashboard/pagos']" class="contenedor-menu-dashoboard pagos">
                <img src="../../../assets/image/sideboard/pagos.png" alt="">
                <p>Pagos</p>
            </div>
            <div *ngIf="dataUser.conjunto == 1" [routerLink]="['/dashboard/buzon']" class="contenedor-menu-dashoboard buzon">
                <img src="../../../assets/image/sideboard/buzon.png" alt="">
                <p>Buzón</p>
            </div>
        </ng-container>
        <ng-container *ngIf="propiedad">
            <div [routerLink]="['/dashboard']" class="contenedor-menu-dashoboard dashoboard">
                <img src="../../../assets/image/sideboard/dashboard.png" alt="">
                <p>Dashboard</p>
            </div>
            <div [routerLink]="['/dashboard/documento']" class="contenedor-menu-dashoboard pagos">
                <img style="    filter: contrast(0.5);" src="../../../assets/image/sideboard/documents_files_icon_144654.png" alt="">

                <p>Documentos</p>
            </div>
            <div [routerLink]="['/dashboard/historial-reviciones']" class="contenedor-menu-dashoboard pagos">
                <img style="    filter: contrast(0.5);" src="../../../assets/image/sideboard/revision.png" alt="">
                <p>Reviciones de administración</p>
            </div>
            <div [routerLink]="['/dashboard/pagos']" class="contenedor-menu-dashoboard pagos">
                <img src="../../../assets/image/sideboard/pagos.png" alt="">
                <p>Pagos</p>
            </div>
            <div [routerLink]="['/dashboard/buzon']" class="contenedor-menu-dashoboard buzon">
                <img src="../../../assets/image/sideboard/buzon.png" alt="">
                <p>Buzón</p>
            </div>
        </ng-container>

        <div (click)="services.cerrarSecion()" class="contenedor-menu-dashoboard cerrarsesion">
            <p> <b> Cerrar sesión </b></p>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <button class="toggle-mobile d-block d-sm-none " mat-button (click)="sidenav.toggle() "><i
                class="fas fa-bars "></i></button>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<app-modal-crear-revision *ngIf="dataUser.conjunto == 1" [tipoRevision]="arrayTipoRevision" [tipoPropiedad]="arrayPropietarios"></app-modal-crear-revision>
<app-modal-ver-info-propietario *ngIf="dataUser.conjunto == 1" [dataPropietario]="dataPropietario"></app-modal-ver-info-propietario>
<app-modal-cambiar-password></app-modal-cambiar-password>