<app-nav></app-nav>

<!-- <router-outlet></router-outlet> -->

<!-- <app-sideboard></app-sideboard> -->
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened>
        <div *ngIf="dataUser.conjunto == 0" [routerLink]="['/dashboard']" class="contenedor-menu-dashoboard dashoboard">
            <img src="../../../assets/image/sideboard/dashboard.png" alt="">
            <p>Dashboard</p>
        </div>
        <div *ngIf="dataUser.conjunto == 0" [routerLink]="['/dashboard/copropiedades']" class="contenedor-menu-dashoboard copropiedades">
            <img src="../../../assets/image/sideboard/copropiedades.png" alt="">
            <p>Propiedades</p>
        </div>
        <div *ngIf="dataUser.conjunto == 1" [routerLink]="['/dashboard/propietarios']" class="contenedor-menu-dashoboard pagos">
            <img src="../../../assets/image/sideboard/pagos.png" alt="">
            <p>Propietarios</p>
        </div>
        <div *ngIf="dataUser.conjunto == 1" [routerLink]="['/dashboard/documento']" class="contenedor-menu-dashoboard pagos">
            <img src="../../../assets/image/sideboard/pagos.png" alt="">
            <p>Documento</p>
        </div>
        <div [routerLink]="['/dashboard/pagos']" class="contenedor-menu-dashoboard pagos">
            <img src="../../../assets/image/sideboard/pagos.png" alt="">
            <p>Pagos</p>
        </div>
        <div [routerLink]="['/dashboard/buzon']" class="contenedor-menu-dashoboard buzon">
            <img src="../../../assets/image/sideboard/buzon.png" alt="">
            <p>Buzón</p>
        </div>
        <div [routerLink]="['/login']" class="contenedor-menu-dashoboard cerrarsesion">
            <img src="../../../assets/image/sideboard/buzon.png" alt="">
            <p>Cerrar sesión</p>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <button class="toggle-mobile d-block d-sm-none " mat-button (click)="sidenav.toggle() "><i
                class="fas fa-bars "></i></button>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>