@import 'src/variables.scss';
mat-sidenav {
    background: $soft-grey;
}
mat-sidenav-content {
    background: $soft-grey;
    padding: 0;
    height: calc(100vh - 100px) !important;
    overflow-x: hidden;
}

.contenedor-menu-dashoboard {
    display: flex;
    align-items: center;
    width: 196px;
    padding: 14px;
    img {
        margin-right: 8px;
        object-fit: contain;
    }
    p {
        margin-bottom: 0;
        color: #505050;
    }
    &.active {
        p {
            color: $primary;
        }
        img {
            filter: opacity(0.4) drop-shadow(0 0 0 $primary);
        }
    }
}

.toggle-mobile {
    background: transparent;
    margin-left: auto;
    border: none;
    padding: 16px;
    i {
        color: #FEC02D;
        font-size: 16px;
    }
}

.contenedor-menu-dashoboard {
    cursor: pointer;
}

.cerrarsesion {
    position: absolute;
    bottom: 0;
}