<nav class="navbar navbar-expand-lg  contenedornavlanding">
    <div class="container-fluid ">

        <a class="navbar-brand" href="#">
            <img class="logo" src="/assets/image/admina-landing.svg" alt="">
        </a>
        <div class="d-flex align-items-center">

            <div [routerLink]="['/login']" routerLinkActive="router-link-active" class="iniciarsesion">
                <img src="" alt="icon"> Inicia como propietario
            </div>
            <div [routerLink]="['/login']" routerLinkActive="router-link-active" class="iniciarsesion">
                <img src="" alt="icon"> Inicia como propiedad
            </div>
        </div>


    </div>
</nav>

<div class="contenedor-landing">
    <div class="row infolandingslogan">
        <div class="col-sm-6">
            <h1>
                <strong> Creando <span> Comunidades </span> en propiedad horizontal</strong>
            </h1>
            <p>
                <strong> Con nuestra plataforma web podrás centralizar la administración de tu conjunto
                    residencial.</strong>
            </p>

            <button class="quiero">Quiero iniciar con admina</button>
        </div>
        <div class="col-sm-6">
            <img src="" alt="">
        </div>
    </div>
</div>
<div class="row unaherramienta">

    <div class="col-12 ">
        <h5> <b>Desde edificios hasta urbanizaciones <br> <img class="logo" src="/assets/image/admina-landing.svg"
                    alt="">

                es tu herramienta <span> ideal </span> <br> para administrar tu conjunto en la nube</b>
        </h5>
    </div>
</div>

<div class="contenedor-landing">
    <div class=" beneficios">

        <div class=" item-beneficio">
            <img src="" alt="imagenws">
            <h6> COMUNICACIÓN <br> INMEDIATA</h6>
            <p>Integración vía whatsapp.</p>
        </div>
        <div class=" item-beneficio">
            <img src="" alt="imagennube">
            <h6> ALMACENAMIENTO <br> DE DATOS</h6>
            <p>Analiza los datos del conjunto en tiempo real.</p>
        </div>
        <div class=" item-beneficio">
            <img src="" alt="imagenpagos">
            <h6> PAGOS <br> DIGITALES </h6>
            <p>Cobra de manera automática y recibe los pagos por medio de la plataforma.</p>
        </div>
    </div>


    <div class="row">
        <div class="col-10 mx-auto">
            <h6>
                Crear tu cuenta no tiene ningún valor!! <br> Regístrate y encuentra como <img class="logo" src="/assets/image/admina-landing.svg" alt=""> te soluciona tu día a día.
            </h6>
        </div>
    </div>

    <div class=" beneficios">

        <div class=" item-beneficio conjunyo">
            <h6> COMUNICACIÓN <br> INMEDIATA</h6>
            <img src="" alt="imagenws">
            <p>Integración vía whatsapp.</p>
            <button>Crea tu propiedad</button>
        </div>
        <div class=" item-beneficio conjunyo">
            <h6> ALMACENAMIENTO <br> DE DATOS</h6>
            <img src="" alt="imagennube">
            <p>Analiza los datos del conjunto en tiempo real.</p>
            <button>Crea tu propiedad</button>
        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <h4>Preguntas frecuentes</h4>
        </div>
        <ngb-accordion [closeOthers]="true" activeIds="static-1">
            <ngb-panel id="static-1" title="Simple">
                <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="static-2">
                <ng-template ngbPanelTitle>
                    <span>&#9733; <b>Fancy</b> title &#9733;</span>
                </ng-template>
                <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="static-3" title="Disabled" [disabled]="true">
                <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </ng-template>
            </ngb-panel>
        </ngb-accordion>

    </div>





    <div class="row solicdemosos">

        <div class="col-sm-6 solicitardemo">
            <button>
                Solicita tus demos

            </button>
        </div>
        <div class="col-sm-6 text-center">
            <img class=" metodospago " src="assets/image/footer/metodos.png " alt=" ">

        </div>
    </div>
</div>


<footer>

    <div class="text-center ">
        ©2022 Admina S.A.S
    </div>
</footer>