@import 'src/variables.scss';
p,
h1,
h2,
div {
    color: $text;
}

.contenedornavlanding {
    background-color: $white;
    margin-bottom: 16px;
    box-shadow: 0px 3px 6px #00000017;
    .iniciarsesion {
        font-weight: bold;
        cursor: pointer;
    }
}

.contenedor-landing {
    width: min(100% -32px, 1200px);
    margin-inline: auto;
    h1 {
        @media (max-width: 575px) {
            line-height: 1;
            font-size: 1.5em;
        }
    }
    h2 {
        @media (max-width: 575px) {
            line-height: 1;
            font-size: 1.2em;
            margin-top: 1rem;
        }
    }
    .infolandingslogan {
        margin: 50px 0;
        .quiero {
            background: #d9d5fa 0% 0% no-repeat padding-box;
            color: #3431A0;
            border-radius: 80px;
            border: none;
            padding: 9px 32px;
            font-weight: bold;
        }
    }
    form {
        button {
            background: $primary;
            color: white;
            border-radius: 10px;
            margin: 15px 0px 0;
            width: 100%;
            padding: 11px 0;
        }
        input {
            margin-bottom: 16px;
        }
    }
    .beneficios {
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 44px;
        img {}
        div.item-beneficio {
            margin: 40px 0;
            box-shadow: 0px 3px 10px #00000029;
            border-radius: 20px;
            border: none;
            width: 33.3%;
            align-items: center;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            padding: 16px 32px;
            height: 310px;
            h6 {
                font-size: 24px;
                text-align: center;
                font-weight: bold;
                margin: 16px 0;
                @media (max-width: 575px) {
                    height: 80px;
                    font-size: 1rem;
                }
            }
            p {
                font-size: 24px;
                text-align: center;
            }
            @media (max-width: 575px) {
                margin: 16px 0;
            }
            &.conjunyo {
                width: 50%;
            }
        }
    }
    .solicitardemo {
        button {
            background: $primary;
            color: white;
            border-radius: 10px;
            width: 100%;
            padding: 11px 0;
        }
    }
    .metodospago {
        @media (max-width: 575px) {
            width: 100%;
            margin-top: 56px;
        }
        object-fit: contain;
    }
}

.unaherramienta {
    text-align: center;
    background-color: $white;
    padding: 32px;
    margin-top: 50px;
    @media (max-width: 575px) {
        h5 {
            br {
                display: none;
            }
        }
    }
}

.solicdemosos {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: $primary;
    color: $white;
    margin-top: 100px;
    padding: 16px 32px;
}