@import 'src/variables.scss';
::ng-deep body {
    overflow-x: hidden;
}

.main-header {
    margin-top: 30px;
    /* position: relative;
    left: 0px;
    top: 0px;
    z-index: 999;
    width: 100%;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;

    &.menu-absolute {
        .header-upper {
            position: absolute;
        }
    }

    .header-upper {
        z-index: 5;
        width: 100%;
        position: relative;
        -webkit-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
    } */

    .container {
        &.container-1660 {
            @media (min-width: 1200px) {
                max-width: 1280px;
            }
        }
        @media (min-width: 1200px) {
            max-width: 1320px;
            padding-left: 15px;
            padding-right: 15px;
        }

        .contenedor-inicio {
            display: flex;
            width: 100%;
            justify-content: end;
            .iniciarsesion {
                background-color: $primary;
                color: white;
                font-weight: bold;
                font-size: 14px;
                margin: 0 9px;
                cursor: pointer;
                padding: 10px 19px;
                border-radius: 25px;
                i {
                    color: $primary;
                    margin: 0 5px;
                }
            }
        }
    }
}

.contenedornavlanding {
    /* background-color: $primary; */
    margin-bottom: 16px;
    /* img {
        filter: brightness(0) invert(1);
    } */
    .contenedor-inicio {
        display: flex;
        .iniciarsesion {
            background-color: $primary;
            color: white;
            font-weight: bold;
            font-size: 14px;
            margin: 0 9px;
            cursor: pointer;
            padding: 10px 19px;
            border-radius: 25px;
            i {
                color: $primary;
                margin: 0 5px;
            }
        }
    }
}

.contenedor-landing {
    width: min(100%);
    &:nth-child(2) {
        height: 100%;
    }
    /* margin-left: 120px; */
    /* background-image: url('/assets/image/inicio_pagina.jpeg');
    background-size: cover;
    &::before {
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.2);
    } */
    h1 {
        @media (max-width: 575px) {
            line-height: 1;
            font-size: 1.5em;
        }
    }
    h2 {
        @media (max-width: 575px) {
            line-height: 1;
            font-size: 1.2em;
            margin-top: 1rem;
        }
    }
    .infolandingslogan {
        margin: 0px;
        /* margin: 0px 155px; */
        align-items: center;
        overflow: hidden;
        height: 100%;
        z-index: 9;
        position: relative;
        .content-eslogan {
            /* margin-top: auto; */
            padding-left: 165px;
        }
        h1 {
            width: 620px;
            font-size: 46px;
            /* color: #FFFFFF; */
            span {
                color: #FFFFFF;
                background-color: #8275F4;
                border-radius: 30px;
                padding: 0 8px;
            }
        }
        p {
            /* color: #FFFFFF; */
            margin: 30px 0;
            width: 620px;
            font-size: 22px;
        }
        img {
            width: 100%;
            position: relative;
            right: -156px;
        }
        .quiero {
            background: $primary 0% 0% no-repeat padding-box;
            color: white;
            border-radius: 80px;
            border: none;
            padding: 9px 32px;
            font-weight: bold;
        }
    }
    form {
        button {
            background: $primary;
            color: white;
            border-radius: 10px;
            margin: 15px 0px 0;
            width: 100%;
            padding: 11px 0;
        }
        input {
            margin-bottom: 16px;
        }
    }
    .beneficios {
        padding: 0 40px;
        background-color: #f8f3fe;
        .item-beneficio {
            /* box-shadow: 0px 3px 6px #00000029; */
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            align-items: center;
            padding: 15px 0px;
            height: 75vh;
            justify-content: center;
            /* width: 330px; */
            i {
                color: $primary;
                font-size: 77px;
                margin: 10px 0;
            }
            h6 {
                color: $heading;
                padding: 9px 16px;
                font-family: 'Montserrat';
                font-size: 24px;
                /* font-weight: bold; */
                text-align: center;
                height: 80px;
            }
            p {
                color: #6A707E;
                font-family: 'Montserrat';
                font-size: 24px;
                font-weight: normal;
                text-align: center;
                height: 80px;
            }
            button {
                color: $primary;
                font-weight: bold;
                font-size: 16px;
                border: 1px solid $primary;
                border-radius: 30px;
                padding: 10px 30px;
                background-color: transparent;
            }
            p {
                font-size: 17px;
                /* text-align: center; */
                width: 90%;
                margin-top: 25px;
            }
            @media (max-width: 575px) {
                margin: 16px 0;
            }
            &.conjunyo {
                width: 50%;
            }
        }
        &.max {
            .item-beneficio {
                height: 400px;
            }
        }
    }
    .solicitardemo {
        button {
            background: $primary;
            color: white;
            border-radius: 10px;
            width: 100%;
            padding: 11px 0;
        }
    }
    .metodospago {
        @media (max-width: 575px) {
            width: 100%;
            margin-top: 56px;
        }
        object-fit: contain;
    }
    .contenedor-ningun-valor {
        text-align: center;
        margin: 60px 0;
        p {
            background-color: #d9d5fc;
            border-radius: 60px;
            padding: 10px 20px;
            font-size: 36px;
            color: #3431A0;
            span {
                font-weight: bold;
            }
            img {
                margin-top: -14px;
            }
        }
    }
}

.preguntas {
    background-color: #F5FAFF;
    margin: 40px 0;
    h2 {
        color: #282B3B;
        font-size: 36px;
        text-align: center;
        font-weight: bold;
    }

    a {
        width: 100%;
        color: $primary;
        font-weight: bold;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &.collapsed {
            i {
                transform: rotate(0deg);
            }
        }
        &:not(.collapsed) {
            i {
                transform: rotate(180deg);
            }
        }
        &:focus {
            box-shadow: none;
        }
    }

    .collapse {
        .card-body {
            border: none;
            background: transparent;
            margin-top: -35px;
            font-size: 20px;
            color: #282B3B;
            font-weight: normal;
            display: block;
        }
    }
}

.unaherramienta {
    text-align: center;
    /* background-color: $primary; */
    color: $heading;
    padding: 32px;
    /* margin-top: 50px; */
    /* font-weight: bold; */
    background-color: #f8f3fe;
    h1 {
        font-size: 46px;
    }
    img {
        margin-top: -14px;
    }
    span {
        background-color: $primary;
        color: $white;
        border-radius: 30px;
        padding: 0 8px;
    }
    p {
        font-size: 22px;
    }
    @media (max-width: 575px) {
        p {
            br {
                display: none;
            }
        }
    }
}

.solicdemosos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.class-global-footer {
    width: 100%;
    background-color: #8275f496;

    footer {
        color: $white;
        margin: 40px auto;
        padding: 50px;
        width: 1200px;
        .row-global-footer {
            align-items: center;
            max-width: 1280px;
            margin: auto;

            .conten-logo-redes {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img {
                    width: 30%;
                }
    
                .content-redes {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
    
                    i {
                        font-size: 25px;
                        cursor: pointer;
                        margin: 15px 10px;
                    }
                }
            }


            .contant-contanto {
                display: flex;
                flex-direction: column;
                align-items: baseline;
                justify-content: baseline;
            }
        }
    }
}


.content-opciones-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    a {
        /* color: white; */
        margin: 0 20px;
        cursor: pointer;
    }
}

.w-100 {
    height: 96%;
    margin: auto;
    display: block;
    width: 90% !important;
    margin-top: 100px;
}

.seccion4-container {
    padding: 0 40px;
    margin-top: 250px;
    img {
        width: 100%;
    }
    .container-seccion4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
    
        margin: 20px 0;
    
        .seccion4 {
            display: flex;
            /* align-items: center; */
            justify-content: space-evenly;
            flex-direction: column;
            margin: 25px 0;

            i {
                font-size: 35px;
                margin: 0 10px;
                color: $primary;
            }

            p {
                b {
                    font-size: 25px;
                }
                font-size: 20px;
            }
        }
    }
}

.star-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    margin-top: 100px;
    i {
        color: $primary;
        font-size: 60px;
    }
}

.parrafo {
    p {
        text-align: center;
        font-size: 22px;
        font-weight: bolder;
        margin: 45px 0;
    }
}

.content-review {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 50px;
    margin-bottom: 120px;
    margin-top: 100px;

    .review {
        border: 1px solid rgb(227, 227, 227);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
        margin: 0 10px;
        height: 250px;

        .review-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            label {
                font-size: 25px;
                margin: 0;
            }

            .star-rating {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 0;
            
                i {
                    color: $primary;
                    font-size: 30px;
                }
            }
        }
    }
}

.content-loga {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
        font-size: 46px;
        font-weight: bold;
    }

    .quiero {
        background: $primary 0% 0% no-repeat padding-box;
        color: white;
        border-radius: 80px;
        border: none;
        padding: 9px 32px;
        font-weight: bold;
        margin-top: 30px;
    }
}