<nav class="navbar navbar-expand-lg  contenedornavlanding">
    <div class="container-fluid ">

        <a class="navbar-brand" href="#">
            <img class="logo" src="/assets/image/admina-landing.svg" alt="">
        </a>

        <div class="contenedor-inicio">
            <div (click)="services.showModal('#modalLogin')" class="iniciarsesion">
                <i class="fa-solid fa-user"></i> Inicia como propietario
            </div>
            <div (click)="services.showModal('#modalLogin')" routerLinkActive="router-link-active" class="iniciarsesion">
                <i class="fa-solid fa-city"></i> Inicia como propiedad
            </div>
        </div>



    </div>
</nav>

<div class="contenedor-landing">
    <div class="row infolandingslogan">
        <div class="col-sm-5">
            <h1>
                <strong> Creando <span> Comunidades </span> en propiedad horizontal</strong>
            </h1>
            <p>
                <strong> Con nuestra plataforma web podrás centralizar la administración de tu conjunto
                    residencial.</strong>
            </p>

            <button class="quiero" (click)="services.showModal('#modalLogin')">Quiero iniciar con admina</button>
        </div>
        <div class="col-sm-7">
            <img src="/assets/image/elipse.png" alt="">
        </div>
    </div>
</div>
<div class="row unaherramienta">

    <div class="col-12 ">
        <p>
            Desde edificios hasta urbanizaciones<br>
            <img src="/assets/image/admina.png" alt=""> es tu herramienta <span>ideal</span><br> para administrar tu conjunto en la nube
        </p>
    </div>
</div>

<div class="contenedor-landing">
    <div class=" row beneficios">

        <div class="col-sm-4">
            <div class="item-beneficio">
                <i class="fa-brands fa-whatsapp"></i>
                <h6> COMUNICACIÓN<br> INMEDIATA </h6>
                <p>Integración vía<br> whatsapp.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="item-beneficio">
                <i class="fa-solid fa-cloud"></i>
                <h6> ALMACENAMIENTO<br> DE DATOS </h6>
                <p>Analiza los datos del<br> conjunto en tiempo real.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="item-beneficio">
                <i class="fa-solid fa-money-bill"></i>
                <h6> PAGOS<br> DIGITALES </h6>
                <p>Cobra de manera<br> automática y recibe los<br> pagos por medio de la<br> plataforma.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="contenedor-ningun-valor">
                <p><span>Crear tu cuenta no tiene ningún valor!!</span><br> Regístrate y encuentra como <img src="/assets/image/admina.png" alt=""> te soluciona tu día a día.</p>
            </div>
        </div>
    </div>
    <div class="row beneficios max">

        <div class="col-sm-6">
            <div class="item-beneficio">
                <h6>¿AÚN NO TIENES UN CONJUNTO<br> CREADO?</h6>
                <i class="fa-solid fa-city"></i>
                <p>En este espacio podrás administrar<br> tu conjunto residencial.</p>
                <button class="btn" (click)="services.url('/registro-propiedad')">Crea tu propiedad</button>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="item-beneficio">
                <h6> TUS VECINOS YA CREARON SU<br> USUARIO PERO TU AÚN NO? </h6>
                <i class="fa-solid fa-user"></i>
                <p>Aquí podrás estar al tanto de<br> toda la información relevante<br> de tu conjunto.</p>
                <button class="btn" (click)="services.showModal('#ModalRegistro')">Crea tu usuario como propietario</button>
            </div>
        </div>
    </div>
    <!-- <div class="row solicdemosos">

        <div class="col-sm-6 solicitardemo">
            <button>
                Solicita tus demos

            </button>
        </div>
        <div class="col-sm-6 text-center">
            <img class=" metodospago " src="assets/image/footer/metodos.png " alt=" ">

        </div>
    </div> -->
</div>
<div class="preguntas">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Preguntas frecuentes</h2>
            </div>

            <div class="col-12">
                <p>
                    <a class="btn" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                        ¿Quiénes somos?
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Button with data-target
                    </button> -->
                </p>
                <div class="collapse show" id="collapseExample1">
                    <div class="card card-body">
                        Admina es una WebApp que busca crear una comunidad dentro de la propiedad horizontal.
                    </div>
                </div>
            </div>
            <div class="col-12">
                <p>
                    <a class="btn" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
                        ¿Qué buscamos?
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Button with data-target
                    </button> -->
                </p>
                <div class="collapse show" id="collapseExample2">
                    <div class="card card-body">
                        Admina busca empoderar a los administradores de propiedad horizontal, facilitándoles y<br/> optimizándoles el trabajo para que puedan tener un mayor alcance.
                    </div>
                </div>
            </div>
            <div class="col-12">
                <p>
                    <a class="btn" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
                        ¿Tiene algún valor el uso de la plataforma?
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Button with data-target
                    </button> -->
                </p>
                <div class="collapse show" id="collapseExample3">
                    <div class="card card-body">
                        Con Admina, podrás usar nuestra plataforma sin ningún costo. Esta versión es la versión Lite,<br> cuando desarrollemos la versión Pro te lo haremos saber*.
                    </div>
                </div>
            </div>
            <div class="col-12">
                <p>
                    <a class="btn" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4">
                        ¿Dónde tenemos presencia?
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Button with data-target
                    </button> -->
                </p>
                <div class="collapse show" id="collapseExample4">
                    <div class="card card-body">
                        Admina actualmente opera en Colombia, en ciudades principales como Bogotá, Medellín,<br> Barranquilla y Bucaramanga.
                    </div>
                </div>
            </div>
            <div class="col-12">
                <p>
                    <a class="btn" data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample5">
                        ¿Dónde tenemos presencia?
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Button with data-target
                    </button> -->
                </p>
                <div class="collapse show" id="collapseExample5">
                    <div class="card card-body">
                        Nuestros canales de comunicación están disponibles 24/7, escríbenos al correo<br> <b>santiago@admina.com.co</b> y te responderemos en minutos.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="text-center">
        <div>

            <img src="/assets/image/admin.png" alt="">
        </div>
        <div>
            <h3>Síguenos</h3>
            <div class="redessociales">

                <img src="/assets/image/in.png" alt="">
                <img src="/assets/image/fb.png" alt="">
                <img src="/assets/image/in.png" alt="">
                <img src="/assets/image/yt.png" alt="">
            </div>
        </div>

        <div>

            <img src="/assets/image/metodospagos.png" alt="">
        </div>


    </div>
    <div style="background-color: #031826; color: #ffffff;padding: 16px;" class="text-center ">
        Admina S.A.S ©2022 | Todos los derechos reservados. Desarrollado por Admina S.A.S
    </div>
</footer>

<app-modal-login></app-modal-login>