@import 'src/variables.scss';
.contenedornavlanding {
    /* background-color: $primary; */
    margin-bottom: 16px;
    /* img {
        filter: brightness(0) invert(1);
    } */
    .contenedor-inicio {
        display: flex;
        .iniciarsesion {
            color: $heading;
            font-weight: normal;
            font-size: 14px;
            margin: 0 9px;
            cursor: pointer;
            i {
                color: $primary;
                margin: 0 5px;
            }
        }
    }
}

.contenedor-landing {
    width: min(100% -32px, 1200px);
    margin-inline: auto;
    h1 {
        @media (max-width: 575px) {
            line-height: 1;
            font-size: 1.5em;
        }
    }
    h2 {
        @media (max-width: 575px) {
            line-height: 1;
            font-size: 1.2em;
            margin-top: 1rem;
        }
    }
    .infolandingslogan {
        margin: 50px 0;
        align-items: center;
        overflow: hidden;
        height: 422px;
        img {
            width: 100%;
            position: relative;
            right: -156px;
        }
        .quiero {
            background: #d9d5fa 0% 0% no-repeat padding-box;
            color: #3431A0;
            border-radius: 80px;
            border: none;
            padding: 9px 32px;
            font-weight: bold;
        }
    }
    form {
        button {
            background: $primary;
            color: white;
            border-radius: 10px;
            margin: 15px 0px 0;
            width: 100%;
            padding: 11px 0;
        }
        input {
            margin-bottom: 16px;
        }
    }
    .beneficios {
        .item-beneficio {
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            align-items: center;
            padding: 15px 0px;
            height: 350px;
            /* width: 330px; */
            i {
                color: $primary;
                font-size: 77px;
                margin: 10px 0;
            }
            h6 {
                color: $heading;
                padding: 9px 16px;
                font-family: 'Montserrat';
                font-size: 24px;
                font-weight: bold;
                text-align: center;
            }
            p {
                color: #6A707E;
                font-family: 'Montserrat';
                font-size: 24px;
                font-weight: normal;
                text-align: center;
            }
            button {
                color: $white;
                font-weight: bold;
                font-size: 16px;
                background-color: $primary;
                border-radius: 30px;
                padding: 10px 30px;
            }
            p {
                font-size: 24px;
                text-align: center;
            }
            @media (max-width: 575px) {
                margin: 16px 0;
            }
            &.conjunyo {
                width: 50%;
            }
        }
        &.max {
            .item-beneficio {
                height: 400px;
            }
        }
    }
    .solicitardemo {
        button {
            background: $primary;
            color: white;
            border-radius: 10px;
            width: 100%;
            padding: 11px 0;
        }
    }
    .metodospago {
        @media (max-width: 575px) {
            width: 100%;
            margin-top: 56px;
        }
        object-fit: contain;
    }
    .contenedor-ningun-valor {
        text-align: center;
        margin: 60px 0;
        p {
            background-color: #d9d5fc;
            border-radius: 60px;
            padding: 10px 20px;
            font-size: 36px;
            color: #3431A0;
            span {
                font-weight: bold;
            }
            img {
                margin-top: -14px;
            }
        }
    }
}

.preguntas {
    background-color: #F5FAFF;
    margin: 40px 0;
    h2 {
        color: #282B3B;
        font-size: 36px;
        text-align: center;
        font-weight: bold;
    }
}

.unaherramienta {
    text-align: center;
    /* background-color: $primary; */
    color: $heading;
    padding: 32px;
    margin-top: 50px;
    font-weight: bold;
    font-size: 36px;
    img {
        margin-top: -14px;
    }
    span {
        background-color: $primary;
        color: $white;
        border-radius: 30px;
        padding: 0 8px;
    }
    @media (max-width: 575px) {
        p {
            br {
                display: none;
            }
        }
    }
}

.solicdemosos {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #282b3b;
    color: $white;
    margin-top: 100px;
    padding: 16px 0px 0;
    img {
        margin-bottom: 32px;
    }
    .redessociales {
        display: flex;
        gap: 10px;
        justify-content: center;
    }
}